arviz
black
coverage
dask[complete]
datashader
flake8
folium
geopandas
geopy
geoviews
graphviz
holoviews
imbalanced-learn
isort
jupyterlab_code_formatter
jupyter-resource-usage
matplotlib
pycrs
pylint
pymc3
pytest
pytest-cov
PyYAML
quantities
theano
yellowbrick